a.wath-live-link {
  color: red;
  padding: 0px 10px 20px 10px;
}

.team-country-flag {
  max-width: 20px;
}
span.tournament-title {
  color: white;
  font-size: 23px;
}
span.team-name,
span.team-odds,
span.team-prop {
  color: white;
}

.api-error-msg {
  color: red;
}

.match-item {
  border: solid 0.5px;
  border-color: grey;
  padding: 10px 10px 10px 10px;
}

.esport-kf-bet {
  color: #32c532;
  font-size: 16px;
  font-weight: bold;
}
.match-date-time {
  color: whitesmoke;
}

.team-odds {
  padding-top: 15px;
  text-align: center;
  width: 60px;
  height: 60px;
  background-image: linear-gradient(135deg, #242933 0%, #171a20 100%);
  border-radius: 4px;
  -webkit-box-flex: 0;
  flex: 0 0 60px;
}

span.team-prop.esport-kf-bet.green {
  color: green;
}

.team1 {
  text-align: right;
}

.team2 {
  text-align: left;
}

img.team-logo.no-have {
  max-width: 60px !important;
}

img._mi._before._image {
  max-width: 28px;
}
img.jet-menu-icon {
  width: 28px;
}
.jet-unfold__trigger {
  margin-top: 2px !important;
}
.jet-listing-not-found.jet-listing-grid__items {
  color: whitesmoke;
}

ul.events-list {
  color: whitesmoke;
}

h3.streamers-list-title {
  color: whitesmoke;
}

ul.streamers-list {
  column-count: 3;
}

/*---------------------------------------------*/
.go-to-partner {
  text-align: center;
}
.elementor-element.elementor-element-9f7562a.elementor-column.elementor-col-100.elementor-top-column {
  height: 169px;
}
@media (max-width: 767px) {
  .elementor-element.elementor-element-9f7562a.elementor-column.elementor-col-100.elementor-top-column {
    height: 252px;
  }
  .book-bonus-title-home {
    margin-left: 50px;
  }
}
.elementor-shortcode {
  color: white;
}
.elementor-button.elementor-size-xs {
  font-size: 13px;
  padding: 10px 20px;
  -webkit-border-radius: 26px;
  border-radius: 26px;
}
.book-bonus-rating-home {
  display: inline;
  border: 4px solid red;
  border-radius: 50%;
  padding: 8px;
  margin-left: 9px;
}
.book-bonus-title-home {
  color: #666;
}
.elementor-1726
  .elementor-element.elementor-element-9f7562a:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap {
  background: linear-gradient(135deg, #1c1e25 0%, #121419 100%);
  border: 1px solid #23a455;
}
